.footer {
    background-image: linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(./assets/footer-bg.jpg);
    background-size: cover; 
    background-position: 90% 10%;
    background-attachment: fixed;
    color: #fff;
    padding: 4rem 0 2rem 0;
    margin-top: 6rem;
    position: relative;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0 2rem;
}

.footer-section {
    h3 {
        font-size: 2.4rem;
        color: #E0B400;
        margin-bottom: 2rem;
        text-align: center;
    }

    h4 {
        font-size: 3rem;
        color: #E0B400;
        margin-bottom: 2rem;
        text-align: center;
    }

    p {
        font-size: 1.6rem;
        line-height: 1.6;
        color: #f8f9fa;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 1.5rem;
            font-size: 1.6rem;

            a {
                color: #f8f9fa;
                text-decoration: none;
                transition: color 0.3s ease;

                &:hover {
                    color: #E0B400;
                }
            }
        }
    }
}

.footer-cta {
    display: inline-block;
    background-color: #E0B400;
    color: #fff !important;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken(#E0B400, 10%);
        color: #fff !important;
    }
}

.footer-bottom {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: 2px solid rgba(255,255,255,0.2);

    p {
        font-size: 1.4rem;
        color: #adb5bd;
    }
}
