.login-container-box{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
     background-image: linear-gradient(to left, rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url(./assets/login-bg.jpg);
    background-size: cover;
    background-position: center;
}

.login-btn{
    border: none;
     width: 100%;
    height: 10%;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    background-color: #fcc419;
    color: #000;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
    border-radius: 3rem;
}

.login-btn:hover{
    background-color: #fab005;
}

.login-title{
    font-size: 7rem;
    color: #fff;
    padding-left: 8rem
}

.login-desc{
    font-size: 2.5rem;
    font-weight: 200;
    padding-top: 2rem;
    padding-left: 8rem;
    color: #fff;
    width: 90%
}

.login-btn-box{
    padding: 2rem
}

.volver-btn{
    width: 8%;
    border: none;
    background-color: #fcc419;
    color: #212529;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 2rem;
    transition: background-color 0.3s ease 
}
.volver-btn:hover{
    background-color: #fab005;
}

.login-section-box{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.login-section-box-2{
    display: flex;
    justify-content: center;
}

.lo-gin{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #fff;
    font-weight: 500;
}

.login-form{
    width: 60%;
    height: 10%;
}

.login-form input{
    font-size: 2rem;
    padding-left: 3rem;
    margin: 0.6rem
}